<div class="input-group">
  <input type="text" class="form-control" aria-label="Text input with dropdown button">
  <div class="input-group-append" ngbDropdown>

    <button class="btn btn-outline-primary"
            id="dropdownBasic1"
            ngbDropdownToggle>
      {{selectedOperatorName}}
    </button>

    <div ngbDropdownMenu>
      <button *ngFor="let operator of operatorNames"
              class="dropdown-item"
              (click)="setOperator(operator)">
        {{operator}}
      </button>
    </div>

  </div>
</div>
